.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.character-card {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.character-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}

.character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.character-info h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

.character-info p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.edit-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.edit-form button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #337ab7;
  color: #fff;
  cursor: pointer;
}

.edit-form button:hover {
  background-color: #23527c;
}

.character-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
button{
  background-color: #5a7a96;
  height: 40px;
  width: 100%;
}